
.content-container{
    width:100%;
    margin: auto;
    padding: 70px;
    text-align: center;
}

.row-container{
    width:80%;
    margin: auto;
    padding: 50px;
    text-align: center;
}

.philosophy {
	margin-top: 70px;
	text-align: center;
	width: 100%;
	height: 400px;
	display: block;
}

.philosophy-card {
	display: inline-block;
	width: 33%;
	margin-top: 20px;
}

.philosophy-card img {
	width: 65%;
	height: 65%;
}

/* Locations */

.location-contatiner{
	margin-top: 20px;
	display: block;
}


.location-sub-contatiner{
	display: inline-block;
	width: 30%;
	margin: 30px 20px;
}
